body {
    padding: 0;
    margin: 0;
    background-color: black;  
    font-family: 'Griffy', cursive;
}

#header{
    background-color:black;
    width: 100%;
    color: #f9690e;
    min-height: 70px;

}

/*GLOW EFFECT FOR TITLE*/
#page-title{
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
/*TEXT FORMATTINT*/
p{
    font-size: large;
    font-family: 'Mali', cursive;

}

#jumbotron{
    background-image: url('../../images/halloween/jumbotron.jpg');
    min-height: 450px;
    background-position: center;
}

#content{
    color: white;
    font-size: 18px;
    min-height: 200px;
    margin-bottom: 10px;
}

#content img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.orange-content{
    background-color: #f9690e;
    min-height: 400px;
    padding: 10px;
}

