body {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: blink 3s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0;
    font-size: 24px;
  }
  to {
    opacity: 1;
    font-size: 28px;
  }
}

li {
  list-style-type: none;
  top: 90%;
  right: 90%;
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}
