@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Lora', sans-serif;
}

#header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #263238;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  
}


#header nav a {
  display: inline-block;
  font-weight: bold;
  padding: 20px 25px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#header nav a:hover {
  background: white;
  color: #263238;
  transition: all 0.2s linear;
}

#img{
  height: 100vh;
  width: 100%;
}

.halloweenButton{
  width: 15em;
}

nav {
  text-align: center;
}
