body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #263238;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  
}

@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


#header nav a {
  display: inline-block;
  font-weight: bold;
  padding: 20px 25px;
  cursor: pointer;
  color: white;
  text-decoration: none; 
  font-family: "Cursive" ;

}

#header nav a:hover {
  background: white;
  color: #263238;
  transition: all 0.2s linear;
}

.img-wrapper {
  max-height: 100vh;
  overflow: hidden;
}
#img{
  height: auto;
  width: 100%;
}

.halloweenButton{
  width: 15em;
}

nav {
  text-align: center;
}
