body {
    margin: 0 auto;
    max-width: 100%;
            }
            
button {
	background-color: #263238;
	color: white;
	border: #9e888f;
	font-size: 18px;
	width: 150px;
	height: 50px;
	margin: 4px;
}

button:hover {
	background-color: #2c97cc;/* change the button color when curser is near*/
}



.footer {
   position: fixed;
   left: 0;
   bottom:-20px;
   width: 100%;
   background-color: #222;
   color: #fff;
   text-align: left;
   font-family:"Playfair Display", Georgia, serif;
   padding:30px 0;
}

.content-page{
	padding-bottom:250px;
}

.wrap{
	width:95%;
	display:block;
	max-width:1200px;
	margin:0px auto;
	float:none;
}

.contributors{
	display:inline-block;
	float:right;
}

.contributors a{
	font-family:"Karla", Arial, sans-serif;
	color:#888;
	text-decoration:none;
	-webkit-transition:0.2s ease-in-out;
	-o-transition:0.2s ease-in-out;
	transition:0.2s ease-in-out;
	font-size:15px;
	
}

.contributors h4{
	margin:0px;
	position:relative;
}

.contributors h4:after{
	content:'';
	position:absolute;
	width:50%;
	height:1px;
	bottom:-5px;
	left:0;
	background:#555;
}

.contributors ul{
	list-style-type:none;
	margin-left:0px;
	padding-left:10px;
}

.contributors ul li{
	list-style-type:none;
	margin-bottom:2.5px;
}

.contributors ul li a:hover{
	color:#666;
}

.copyright{
	text-align:center;
	display:inline-block;
	clear:both;
	width:100%;
}


.footer h3{
	font-family:"Playfair Display", Georgia, serif;
	display:inline-block;
	float:left;
	font-size:30px;
	margin-top:0;
	position:relative;
	margin-bottom:20px;
}

.footer h3 span{
	-webkit-animation:flash 1s steps(1) infinite;
	        animation:flash 1s steps(1) infinite;
	opacity:1;
}

@-webkit-keyframes flash{
	50%{
		opacity:0;
	}
}

@keyframes flash{
	50%{
		opacity:0;
	}
}

.footer h3:after{
	content:'.';
	-webkit-animation:dots 3s linear infinite;
	        animation:dots 3s linear infinite;
}

@-webkit-keyframes dots{
	0%{
		content:'';
	}
	33%{
		content:'.';
	}
	66%{
		content:'..';
	}
	100%{
		content:'...';
	}
}

@keyframes dots{
	0%{
		content:'';
	}
	33%{
		content:'.';
	}
	66%{
		content:'..';
	}
	100%{
		content:'...';
	}
}

.footer .copyright p{
	font-family:"Karla", Arial, sans-serif;
	font-size:12px;
}

.footer .intro{
	display:inline-block;
	float:left;
	-webkit-perspective:3500px;
	        perspective:3500px;
}

.footer a.btn {
    display:inline-block;
    float:left;
    margin-top:0px;
    clear:left;
    text-decoration:none;
    color:#888;
    text-transform:uppercase;
    font-family:"Karla", Arial, sans-serif;
    letter-spacing:2px;
    padding:5px 10px;
    -webkit-box-shadow:inset 0 0  0 1px #888;
            box-shadow:inset 0 0  0 1px #888;
    position:relative;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
    font-size:16px;
    -webkit-transition:0.4s cubic-bezier(1, 0, 0, 1);
    -o-transition:0.4s cubic-bezier(1, 0, 0, 1);
    transition:0.4s cubic-bezier(1, 0, 0, 1);
    -webkit-transform-origin:top;
        -ms-transform-origin:top;
            transform-origin:top;

}

.footer a.btn:hover{
	-webkit-transform:rotateX(-90deg);
	        transform:rotateX(-90deg);
}

.footer a.btn:after{
	content:'CONTRIBUTE';
	position:absolute;
	padding:5px 10px;
	font-size:16px;
	bottom:calc(-100% - 1px);
	left:0;
	color:#222;
	background:#888;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
	-webkit-transform-origin:top;
	    -ms-transform-origin:top;
	        transform-origin:top;
	-webkit-transform:rotateX(90deg);
	        transform:rotateX(90deg);
}

@media screen and (max-width:768px){
	.contributors{
		display:inline-block;
		float:left;
		clear:both;
		margin-top:30px;
	}
}

 #img{
    height: 100vh;
    width: 100%;
   }
 .footer {
     text-align: center;
     font-size: 12px;
     }
h2{
  text-align: center;
}

.contact-form{
  text-align: center;
  display: block;
  margin: auto;
  background-color: #333;
  width:80%;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  box-shadow:0 4px 10px 4px rgba(0,0,0,0.4);
  margin-bottom: 5%;
  padding: 3%;
  font-family: cursive, monospace; 
   text-shadow: 1px 1px 0 black; 
} 
label{
  display: block;
}
.field {
  font-size: 20px;
  background-color: transparent;
  width: 60%;
  padding: 6px;
  margin: 2%;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
.message {
   font-size: 20px;
  background-color: transparent;
  width: 60%;
  height: 100px;
  padding: 6px;
  border: 2px solid white;
  border-radius: 5px;
   color: white;

}
.field:hover {
  border: 2.5px solid gold;
  border-radius: 6px;
}
.message:hover {
  border: 2.5px solid gold;
  border-radius: 6px;
}
.field:focus {
  border: 2.5px solid gold;
  border-radius: 6px;
  width: 65%;
}
#message:focus {
  border: 2.5px solid gold;
  border-radius: 6px;
  width: 65%;
}

.submit{
  display: block;
  width: 40%;
  height: 2%;
  background-color: black;
  color: white;
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:1rem;
  text-align: center;
  margin: auto;
  margin-top: 8px;
  letter-spacing: 0.2em;
  border: 2px solid gold;
  transition: linear 0.5s;
}
.submit:hover{
  border-radius: 15%;
   border: 2px solid white;
  
}
