#back_to_home {
  outline: none;

  text-decoration: none;
  background-color: orange;
  color: black;
  padding: 15px;
  border-radius: 30px;
  transition-duration: 0.5s;
}
#back_to_home:hover {
  outline: none;
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 15px;
  border-radius: 30px;
}
