body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Griffy', cursive;
}

#header{
    background-color:black;
    width: 100%;
    color: #f9690e;
    min-height: 70px;
}

#jumbotron{
    background-image: url('../images/jumbotron.jpg');
    min-height: 450px;
    background-position: center;
}

#content{
    color: white;
    font-size: 18px;
    min-height: 200px;
    margin-bottom: 10px;
}

#content img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.orange-content{
    background-color: #f9690e;
    min-height: 400px;
    padding: 10px;
}

/* Fading in logo */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
