body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #263238;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

#header nav a {
  display: inline-block;
  font-weight: bold;
  padding: 20px 25px;
  cursor: pointer;
  color: white;
}

#header nav a:hover {
  background: white;
  color: #263238;
}